@font-face {
  font-family: "Outfit";
  src: url("fonts/Outfit-Regular.ttf") format("truetype");
  font-weight: regular;
  size-adjust: 109%;
  ascent-override: 80%;
  descent-override: 12%;
  line-gap-override: 12%;
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  src: url("fonts/Outfit-Bold.ttf") format("truetype");
  font-weight: bold;
  size-adjust: 106%;
  ascent-override: 83%;
  descent-override: 14%;
  line-gap-override: 10%;
  font-display: swap;
}

.font-outfit {
  font-family: "Outfit", "Arial";
}

:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-light-gray: hsl(212, 45%, 89%);
  --clr-rayish-blue: hsl(220, 15%, 55%);
  --clr-dark-blue: hsl(218, 44%, 22%);
}
